html {
    height: 100%;
    width: 100%;
}

body {
    background-color: #05161A;
    /*font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;*/
    font-family: 'Inter', sans-serif;
    margin: auto;
    /*padding-bottom: 100px;*/
    /*text-align: justify;*/
}

div#content {
    margin: 5%;
}

nav {
    background-color:#333333;
}

@media print {
    .noprint {
        display: none;
    }
    .page-break {
        break-after: always;
    }
}


.ex {
    border: 2px solid #00CCFF;
    border-radius: 5px;
    background-color: #072E33;
}
.ex-header {
    padding: 5px;
    color: 05161A;
    font-weight: bold;
}
.ex-content {
    padding: 5px;
}

h1 {
    width: fit-content;
    background-color: #072E33;
    color: #15A8B0;
    font-weight: 700;
    font-size: 48px;
    padding: 7pt;
}

/*
h2,
h3 {
    color: #3367D6;
}
*/

h2 {
    padding-top: 25px;
    padding-bottom: 5px;
    border-bottom: 2px solid #6DA5C0;
    font-weight: 700;
    font-size: 32px;
    color: #6DA5C0;
    /*padding: 7pt;*/
}
.credits {
    font-weight: 400;
    font-size: 24px;
    padding-bottom: 7pt;
    padding-top: 7pt;
    color: #6DA5C0;
    opacity: 50%;
}
h3 {
    font-weight: 500;
    font-size: 24px;
    padding-bottom: 3pt;
    padding-top: 7pt;
    opacity: 75%;
    color: #6DA5C0;
    border-bottom: 1px solid #6DA5C0;
}
/*h3 {
    font-weight: 700;
    font-size: 24px;
    padding-bottom: 7pt;
    padding-top: 7pt;
    color: #6DA5C0;
    opacity: 50%;
}*/



p {
    font-weight: 400;
    font-size: 17px;
    /*max-width: 65ch;*/ 
    line-height: 1.4;
    color: #9CFFD8;
}

footer {
    left: 0;
    bottom: 0;
    width: 100%;
    color: #6DA5C0;
    font-size: 10px;
    padding: 10px;
}


.snippet-item {
    padding-left: 7pt;
    border-left: 3px solid #6DA5C0;
}

blockquote {
    text-align: left;
    padding-left: 7pt;
    border-left: 3px solid #6DA5C0;
    font-size: 20px;
}



a {
    color: #6DA5C0;
    transition: transform 0.2s;
    text-decoration: none;
}

a:hover {
    color: #6DA5C0;
}

table {
    width: 100%;
}

th {
    background-color: #072E33;
    color: #15A8B0;
}

div.callout {
    border: 2px solid ;
    border-radius: 5px;
    color: #6DA5C0;
    padding: 10px;
    overflow: auto;
}

div.calloutShadow {
    box-shadow: 2px 2px 20px 0px;
    padding: 15px;
    border-radius: 5px;
}

.center {
    text-align:center;
}

button,
input,
textarea {
    padding: 5px;
    font-size: 16px;
    box-sizing: border-box;
    margin-top: 5px;
    margin-bottom: 5px;
}

button {
    background-color: #072E33;
    border-radius: 5px;
    color: #15A8B0;
    /*border: 1px solid slategray;*/
}

button:hover {
    background-color: #0A464D;
    color: #1CF3FF;
    border-radius: 5px;
    /*border: 1px solid slategray;*/
}

textarea, select {
    width: 100%;
}

.code,
pre,
code,
textarea {
    /*font-family: ui-monospace, Menlo, Monaco, "Segoe UI Mono", "Roboto Mono",
    "Oxygen Mono", "Ubuntu Mono", "Source Code Pro", "Fira Mono",
    "Droid Sans Mono", "Consolas", "Courier New", monospace;*/
    font-family: 'Fira Code', monospace;
    background-color: #072E33;
    color: #63C7FF; 
}

textarea {
    resize: vertical;
}

pre {
    padding: 10px;
}

textarea.python-code, pre.code-output {
    margin-top: 0%;
}

label.python-label {
    margin-bottom: 0%;
    padding: 2px;
    background-color: #7ea7fe;
    color: white;
    font-weight: bold;
    font-size: 10px;
}

.parameter {
    font-weight: bold;
}

/*footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    max-height: 100px;
    background-color: #3367D6;
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    overflow: auto;
}*/



img.rwrap {
    float: right;
    padding: 10px;
}

img.lwrap {
    float: left;
    padding: 10px;
}
div.output-div {
    position:fixed;
    top: 5px;
    right: 5px;
    width:50%;
    padding: 10px;
    background-color: #fff;
    z-index: 10;
    /*border: 2px solid slategray;*/
    border-radius: 5px;
    overflow: auto;
}
p {
    font-size: 16px;
    margin-top: 8px;
    margin-bottom: 8px;
}